.container{
	width: 35%;
	padding: 20px;
	margin: auto;
	box-shadow: 3px 3px 10px yellow;
}
.avatar-background{
	text-align: center;
	width: 100%;
	background-image:url("img/background.jpg");
	background-repeat: no-repeat;
	height: 300px;
}
.avatar{
	position:relative;
	top:100px;
	width:30%;
	border:1px solid gray;
	border-radius: 70px;
	background-image:url("img/avatar.jpg");
	height: 48%;
}