*{
	box-sizing: border-box;
	font-family: 'Nunito';
	color:white;
}
.container{
	width:80%;
	margin: auto;
	padding: 10px;
}
nav{
	background-color: rgba(255,245,245,0.6);
	width:100%;
}
.navbar_ul{
	width:90%;
	list-style-type: none;
	display: inline-block;
	float:right;
}
.navbar_li{
	display:inline;
	height:50px;
	width:20%;
	text-align:center; 
}
.navbar_li a{
	padding: 10px;
	text-decoration: none;	
}
.navbar_li [name="submit_search_foods"]{
	width:7%;
}
.navbar_li [name="search_foods"]
{
	width:33%;
}
section{
	background-color:rgba(141,41,41,0.8);
}
#avatar{
	width:150px;
	height:150px;
	border-radius:80px;
	border:1px solid black;
}
a{
	text-decoration: none;
}
a:hover{
	color:red;
}
button{
	color: black;
	border: none;
	background-color: rgba(141,41,41,0);
}
.checkhidden:hover .hidden{
	display: block;
}
.hidden{display: none;}
