*{
	box-sizing: border-box;
	font-family: 'Nunito';
}
.container{
	width:80%;
	margin: auto;
	padding: 10px;
}
nav{
	background-color: rgba(255,245,245,0.6);
	width:100%;
}
.navbar_ul{
	width:90%;
	list-style-type: none;
	display: inline-block;
	float:right;
}
.navbar_li{
	display:inline;
	height:50px;
	width:20%;
	text-align:center; 
}
.navbar_li a{
	padding: 10px;
	text-decoration: none;	
}
.navbar_li [name="submit_search_foods"]{
	width:7%;
}
.navbar_li [name="search_foods"]
{
	width:33%;
}
 nav a:hover{
	color:red;
}
article{
	background-color: rgb(212,218,218,0.8);
	font-weight: 500;
}
article a{
	text-decoration: none;
}
article a:hover{
	color:red;
}
footer{
	color:red;
	font-weight: 500;
	background-color: lightblue;
}

.row-1{
	border: 1px solid white;
	width:100%;
	margin-top:10px;
	text-align: center;
}
.row{

	text-align: center;
	margin-top:10px;
	width:100%;
}
.col{
	border: 1px solid white;
	display: inline-block;
	width:45%;
	padding: 20px;
}