
.text_center{
	text-align:center;
}
.container{
	font-family:'Nunito';
	margin: 20px;
	border:10px solid lightblue;
	padding: 20px;
	padding-right:0!important;
}
.red-badge{
	color:red;
}
.blue-text{
	color:blue;
	line-height: 25px;
}
.form-group input{
	border-radius: 0;
	border-top:0;
	border-left:1px solid;
	border-bottom:1px solid;
	border-right:0;
}
.gray-text{
	color:gray;
}
.img-fluid{
	width:100%;
}
.carousel-inner img{
	min-height:548px;
	max-height:550px;
}
#register-button{
	cursor: pointer;
}
#login-button{
	cursor: pointer;
}
#login-form{
	position:absolute;
	left:450px;
	display: none;
}
#register-form{
	position:absolute;
}
.heading::before{
	content:"";
	background-color: gray;
	width: 100%;
	height: 1px;
	left: 0;
	position: absolute;
	z-index:-1;
}
.heading-regsiter::before{
	top:444px;
}
.heading-login::before{
	top:268px;
}