body{
	color:gray;
	font-family: 'NUnito';
}
.container{
	background-color:black;
	font-size:14;
	width:100%;
	padding: 30px;
}
.nav-table{
	width: 85%;
	border:none;
	margin: auto;
	line-height: 36px;
}
.nav-email{
	width:50%;
}
.nav-menu{
	width:50%;
	font-weight: 500;
}
.input-email-col{
	width:70%;
}
.space{
	width:30%;
}
.nav-col{
	width:30%;
	display: inline-block;
}
.nav-ul{
	list-style-type: none;
}
.nav-link:hover{
	color:red;
	transition: 0.5;
}
.email-control{
	width:70%;
	padding: 10px;
	border:none;
	background-color:rgb(200 183 183 / 0.17);
}
.email-control:hover{
	border-radius: 20px;
}
.submit-control{
	width:25%;
	padding:10px; 
	background-color: lightblue;
	background-image: url('')
	border:none;
}
.submit-control:hover{
	width:20%;
	border-radius: 20px;
}
footer .container{
	background-color:rgba(0,0,0,0.7);
}
footer .footer-table{
	width:100%;
	text-align: center;
	margin-left: 10%;
}
footer .footer-tr{
	width:100%;
}
.branch{
	width:20%;
	padding:10px 10px 0 10px;
	background-color: rgb(27 54 84);
	color:gray;
}
.copyright{
	float:right;
	width:75%;
	color:white!important;
}