.container{
	width: 100%;
	background-color: white;
	margin: auto;
	margin-top: 50px;
	text-align: justify;
}

.article{
	width: 69%;
    background-color: white;
    float: left;
    padding: 7px 12px;
}
.siderbar{
	background-color: #ffffcc;
	width: 26%;
    float: left;
    padding: 7px 12px;
}
.line-width-98{
	width: 99%;
}